{%- block about -%}
    <section id="about" class="modal">
        <div class="modal-content">
        <p>
        <h1 class="sr-only">Runamuk Cider Co.</h1>
           We’re not here to follow others.
            We don’t play by their rules.
            We’re here to disrupt;
            To craft our kind of cider.
        </p>
         <p>
            That means, LOCAL Donnybrook apples - hand crushed, smashed and brewed down the road in Stratham.
        </p>
        <p>
            The way it should be done.
            But not the way it’s usually done.
            We’re mischief makers.
        </p>
        <p>
            Let’s runamuk.
        </p>
        </div>
    </section>
{%- endblock -%}
